################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/ithaca-web/bin/Debug/netcoreapp3.1
/ithaca-web/bin/Debug/netcoreapp3.1/appsettings.Development.json
/ithaca-web/bin/Debug/netcoreapp3.1/appsettings.json
/ithaca-web/obj
/external/Microsoft.Identity.Web/obj
/external/Microsoft.Identity.Web/bin/Debug/netcoreapp3.1
/external/Microsoft.Identity.Web.Test
/external/Microsoft.Identity.Web.UI/bin/Debug/netcoreapp3.1
/external/Microsoft.Identity.Web.UI/obj
/ithaca-web/appsettings.Development.json
/ithaca-web/bin/Release/netcoreapp3.1
/ithaca-web/Properties/PublishProfiles
/external/Microsoft.Identity.Web/bin/Release/netcoreapp3.1
/external/Microsoft.Identity.Web.UI/bin/Release/netcoreapp3.1
/ithaca-api/Properties/launchSettings.json
/ithaca-web/appsettings.development.json
