@{
   ViewData["Title"] = "Home Page";
}

<h1>
    Welcome to CLA!
</h1>
<p>The acronym CLA will mean something to the people that need to know, but to most people it's just a name.</p>
<p>This application explores some of the possibilities for authentication and authorization using Azure Active Directory (AAD) B2C</p>
<p>
    The directory is configured with different identity providers to enable logon to the CLA application by employees of other organisations. Organisations currently supported are:
</p>
<ul style="list-style-type:circle">
    <li>Microsoft</li>
    <li>Livestock Information</li>
</ul>
<p>This page allows anonymous access, but you'll need to Logon or register to be able to do anything.  This will show you the default sign-in experience configured for this AAD B2C instance</p>
<p>Once logged on, menu options will appear that will help you investigate and understand some options for authorization.</p>
<a href="https://docs.microsoft.com/en-us/aspnet/core/security/authorization/views?view=aspnetcore-3.0&tabs=aspnetcore2x">Include View based Authorization here</a>

<p>Also explore the manifest stuff...</p>